.h1Nosotros, .h2Circulo, .pCirculo, .h3Nosotros, .rounded-circle, .containerTienda {
  text-align: center; }

.h1Nosotros, .h2Circulo, .pCirculo, .h3Nosotros, .rounded-circle, .containerTienda {
  text-align: center; }

#carouselExampleCaptions {
  height: 100%; }

.carousel-item img {
  width: 100%;
  height: 550px; }

@media only screen and (max-width: 500px) {
  #carouselExampleCaptions {
    height: 100%; }
  .carousel-item img {
    width: 100%;
    height: 150px; } }

.h1Nosotros, .h2Circulo, .pCirculo, .h3Nosotros, .rounded-circle, .containerTienda {
  text-align: center; }

header .navbar {
  background-image: url(../imagenes/bgWeb.png);
  -webkit-box-shadow: 5px 5px 33px 5px rgba(0, 0, 0, 0.53);
  box-shadow: 5px 5px 33px 5px rgba(0, 0, 0, 0.53);
  box-shadow: 5px 5px 33px 5px rgba(0, 0, 0, 0.53); }
  header .navbar li {
    transition: transform 0.5s; }
    header .navbar li:hover {
      transform: scale(1.1); }

.logoMvg {
  width: 90px;
  transition: transform 0.5s; }
  .logoMvg:hover {
    transform: scale(1.2); }

body {
  background-image: url(../imagenes/bgWeb.png); }

.h1Nosotros {
  font-size: 24px; }

.h2Circulo {
  font-size: 20px; }

.pCirculo {
  font-size: 14px; }

footer {
  display: grid;
  height: 70px;
  grid-area: pie; }
  footer ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin: auto;
    text-align: center; }
    footer ul a {
      text-decoration: none;
      color: black;
      font-size: 24px;
      align-items: center; }

@media only screen and (max-width: 500px) {
  .footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%; } }

.h1Nosotros, .h2Circulo, .pCirculo, .h3Nosotros, .rounded-circle, .containerTienda {
  text-align: center; }

.containerNoticias {
  padding: 2%; }

.parrafoNoticias {
  font-size: 14px; }

.imgNoticias {
  height: 350px;
  border-radius: 40px 40px 40px 40px;
  margin: 3%; }

.imgNoticias2 {
  height: 335px;
  border-radius: 40px 40px 40px 40px;
  margin: 3%; }

@media only screen and (max-width: 500px) {
  .imgNoticias {
    height: 130px; }
  .imgNoticias2 {
    height: 125px; } }

.container-fluid2 {
  background: #0e0e34;
  background: linear-gradient(0deg, #0e0e34 0%, #3a3a96 49%, #47c4dd 100%); }

.h1Nosotros, .h2Circulo, .pCirculo, .h3Nosotros, .rounded-circle, .containerTienda {
  text-align: center; }

.h2Circulo {
  font-size: 20px; }

.pCirculo {
  font-size: 14px; }

.h1Nosotros, .h2Circulo, .pCirculo, .h3Nosotros, .rounded-circle, .containerTienda {
  text-align: center; }

.h2Circulo {
  font-size: 20px; }

.pCirculo {
  font-size: 14px; }

.containerTienda1 {
  padding: 7%; }
