.header .navbar {
  background-color: #74b9ff; }
  .header .navbar li {
    transition: transform 0.5s; }
    .header .navbar li:hover {
      transform: scale(1.1); }

.logoMvg {
  width: 90px;
  transition: transform 0.5s; }
  .logoMvg .logoMvg:hover {
    transform: scale(1.2); }

.h2Circulo {
  text-align: center; }

.pCirculo {
  text-align: center; }

.h3Nosotros {
  text-align: center; }

footer {
  display: grid;
  height: 70px;
  grid-area: pie; }
  footer ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin: auto;
    text-align: center; }
    footer ul a {
      text-decoration: none;
      color: black;
      font-size: 24px;
      align-items: center; }
