@import"../base/variables";

.h1Equipo{
    @extend %center;
    font-size:map-get($tamanio-letra, titulos);
    
}

.h2Circulo {
    @extend %center;
    font-size: map-get($tamanio-letra,subtitulos);
}
.pCirculo{
    @extend %center;
    font-size: map-get($tamanio-letra, parrafos);
}

