
@import"../base/variables";

header{

    .navbar{
        background-image: $fondo-geneal;
        -webkit-box-shadow: 5px 5px 33px 5px rgba(0,0,0,0.53); 
        box-shadow: 5px 5px 33px 5px rgba(0,0,0,0.53);
        box-shadow: 5px 5px 33px 5px rgba(0,0,0,0.53);
        li{
            transition: $transition;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}


.logoMvg{
    width: 90px;
    transition: $transition;   

    &:hover{
        transform: scale(1.2);
    }
}
body{
    background-image: $fondo-geneal;
}

.h1Nosotros{
    @extend %center;
    font-size: map-get($tamanio-letra, titulos);
}
.h2Circulo {
    @extend %center;
    font-size: map-get($tamanio-letra,subtitulos);
}

.pCirculo{
    @extend %center;
    font-size: map-get($tamanio-letra, parrafos);
}

.h3Nosotros{
    @extend %center;
}

footer{
    display: grid;
    height: 70px;
    grid-area: pie;
    
     ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
        width: 20%;
        margin: auto;
        text-align: center;
        
        a{
           text-decoration: none;
           color: black;
           font-size: 24px;
           align-items: center;
           
       }
    }
    
}

@include mediaQuery(mobile){
    .footer ul{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10%;
       
    }
    .footer a{
        font-size: 20px;
    }
}