@import"../base/variables";


.containerNoticias{
    padding: 2%;
}

.parrafoNoticias{
    font-size: map-get($tamanio-letra, parrafos);
}
.imgNoticias{
    height: 350px;
    border-radius: 40px 40px 40px 40px;
    margin: 3%;
}
.imgNoticias2{
    height: 335px;
    border-radius: 40px 40px 40px 40px;
    margin: 3%;
}

@include mediaQuery(mobile){
    .imgNoticias{
        height: 130px;
       
    }
    .imgNoticias2{
        height: 125px;
    }
}


.container-fluid2{
    background: rgb(14,14,52);
    background: linear-gradient(0deg, rgba(14,14,52,1) 0%, rgba(58,58,150,1) 49%, rgba(71,196,221,1) 100%);
}